<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kBossAsia</key>
	<dict>
		<key>kBossType</key>
		<string>kBossTypeBoss</string>
		<key>kBossID</key>
		<string>kBossAsia</string>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<array>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<array>
				<integer>0</integer>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kBossAsiaMainBody.png</string>
			<string>kBossAsiaTurretLeft.png</string>
			<string>kBossAsiaTurretRight.png</string>
			<string>kBossAsiaCannonRight.png</string>
			<string>kBossAsiaCannonLeft.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>55,-4</string>
			<string>-59,-4</string>
			<string>136,-6</string>
			<string>-136,-6</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>22,80;31,80;160,80;169,80</string>
			<string>45,55</string>
			<string>45,55</string>
			<string>22,44</string>
			<string>14,44</string>
		</array>
	</dict>
	<key>kBossEurope</key>
	<dict>
		<key>kBossType</key>
		<string>kBossTypeBoss</string>
		<key>kBossID</key>
		<string>kBossEurope</string>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<array>
				<integer>0</integer>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kBossEuropeMainBody.png</string>
			<string>kBossEuropeWingLeft.png</string>
			<string>kBossEuropeWingRight.png</string>
			<string>kBossEuropeTailLeft.png</string>
			<string>kBossEuropeTailRight.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>-81,-36</string>
			<string>81,-36</string>
			<string>-28,-129</string>
			<string>28,-129</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>31,188</string>
			<string>36,65;59,69</string>
			<string>10,68;32,65</string>
			<string>nil</string>
			<string>nil</string>
		</array>
	</dict>
</dict>
</plist>
