<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kBossAstraeus</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kBossAstraeus</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,-90;-29,-25;-22,16;-12,33;13,33;22,16;28,-25</string>
				<string>-38,30;-55,55;-34,95;33,95;54,55;38,30</string>
				<string>-68,14;-72,-1;-71,14;-68,17</string>
				<string>68,14;72,-1;71,14;68,17</string>
				<string>-41,34;-69,16;-67,15;-39,29</string>
				<string>41,34;69,16;67,15;39,29</string>
			</array>
			<array>
				<string>4,-31;15,-4;15,17;0,44;-15,17;-15,-43</string>
			</array>
			<array>
				<string>-4,-31;-15,-4;-15,17;0,44;15,17;15,-43</string>
			</array>
			<array>
				<string>-31,-21;-33,-6;-14,17;5,28;35,28;21,3</string>
			</array>
			<array>
				<string>31,-21;33,-6;14,17;-5,28;-35,28;-21,3</string>
			</array>
			<array>
				<string>-33,6;-4,16;13,16;42,2;15,-14;-44,-14</string>
			</array>
			<array>
				<string>33,6;4,16;-13,16;-42,2;-15,-14;44,-14</string>
			</array>
			<array>
				<string>-42,15;-23,28;6,21;25,9;40,-15;8,-14</string>
			</array>
			<array>
				<string>42,15;23,28;-6,21;-25,9;-40,-15;-8,-14</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
			<array>
				<integer>0</integer>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kBossAstraeusMainBody.png</string>
			<string>kBossAstraeusCannonFrontRight.png</string>
			<string>kBossAstraeusCannonFrontLeft.png</string>
			<string>kBossAstraeusCannon30Left.png</string>
			<string>kBossAstraeusCannon30Right.png</string>
			<string>kBossAstraeusCannon90Left.png</string>
			<string>kBossAstraeusCannon90Right.png</string>
			<string>kBossAstraeusCannon120Left.png</string>
			<string>kBossAstraeusCannon120Right.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>40,-112</string>
			<string>-40,-112</string>
			<string>-77,-74</string>
			<string>77,-74</string>
			<string>-107,-13</string>
			<string>107,-13</string>
			<string>-109,44</string>
			<string>109,44</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>-71,8;69,8;0,-23;-4,-24</string>
			<string>-3,-26</string>
			<string>5,-26</string>
			<string>0,0</string>
			<string>0,0</string>
			<string>0,0</string>
			<string>0,0</string>
			<string>0,0</string>
			<string>0,0</string>
		</array>
	</dict>
	<key>kBossAtlas</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kBossAtlas</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,-84;18,-67;31,-45;12,-5;0,16;-32,-45;-18,-67</string>
				<string>33,-40;74,-40;104,-19;117,5;78,24;14,-8</string>
				<string>-33,-40;-74,-40;-104,-19;-117,5;-78,24;-14,-8</string>
				<string>27,-54;38,-48;39,-39</string>
				<string>-27,-54;-38,-48;-39,-39</string>
			</array>
			<array>
				<string>13,-11;3,-13;-11,-10;-14,4;-12,14</string>
			</array>
			<array>
				<string>-13,-11;-3,-13;11,-10;14,4;12,14</string>
			</array>
			<array>
				<string>0,-29;9,-25;12,-18;11,8;5,27;-5,30;-10,19;-11,-12;-9,-25</string>
			</array>
			<array>
				<string>0,-29;-9,-25;-12,-18;-11,8;-5,27;5,30;10,19;11,-12;9,-25</string>
			</array>
			<array>
				<string>3,-13;9,-5;7,9;0,15;-7,9;-9,-5;-2,-13</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
			<array>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<array>
				<integer>0</integer>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kBossAtlasMainBody.png</string>
			<string>kBossAtlasFrontTurretLeft.png</string>
			<string>kBossAtlasFrontTurretRight.png</string>
			<string>kBossAtlasCannonRight.png</string>
			<string>kBossAtlasCannonLeft.png</string>
			<string>kBossAtlasFrontTurretCenter.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>-25,-88</string>
			<string>25,-88</string>
			<string>136,-32</string>
			<string>-136,-32</string>
			<string>0,-117</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>22,80;31,80;160,80;169,80</string>
			<string>-9,-9</string>
			<string>9,-9</string>
			<string>0,-24</string>
			<string>0,-24</string>
			<string>0,-11</string>
		</array>
	</dict>
	<key>kBossKronos</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kBossKronos</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>0,0;0,130;130,130;130,0</string>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<integer>0</integer>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kBossKronos.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>65,65</string>
		</array>
	</dict>
	<key>kBossHelios</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kBossHelios</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,-72;13,-42;18,-14;14,-5;-15,-5;-20,-14;-15,-42</string>
				<string>-1,-6;-29,3;-43,24;-41,45;-20,73;18,73;39,45;41,24;26,3;13,-6</string>
			</array>
			<array>
				<string>-1,-3;-24,-6;-29,-21;28,-21;22,-6</string>
				<string>0,25;14,21;10,-1;-11,-1;-15,21</string>
			</array>
			<array>
				<string>14,-43;7,-18;8,-9;12,-3;21,-14;19,-43</string>
				<string>21,-36;21,38;26,44;26,-30</string>
				<string>-4,-10;-8,3;4,13</string>
				<string>12,-1;-26,41;12,29</string>
				<string>-27,-10;-18,17;-8,4</string>
				<string>-18,16;-25,25;-25,39;-9,30</string>
			</array>
			<array>
				<string>-14,-43;-7,-18;-8,-9;-12,-3;-21,-14;-19,-43</string>
				<string>-21,-36;-21,38;-26,44;-26,-30</string>
				<string>4,-10;8,3;-4,13</string>
				<string>-12,-1;26,41;-12,29</string>
				<string>27,-10;18,17;8,4</string>
				<string>18,16;25,25;25,39;9,30</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>2</string>
				<string>3</string>
			</array>
			<array>
				<integer>0</integer>
				<string>1</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kBossHeliosMainBody.png</string>
			<string>kBossHeliosTail.png</string>
			<string>kBossHeliosWingLeft.png</string>
			<string>kBossHeliosWingRight.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>0,110</string>
			<string>-75,50</string>
			<string>75,50</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>30,9;-32,9;6,-55;-10,-55</string>
			<string>15,22;0,24;-15,22</string>
			<string>6,-43;-26,-9</string>
			<string>-6,-43;26,-9</string>
		</array>
	</dict>
	<key>kBossOceanus</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kBossOceanus</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>-28,7;-42,29;-42,76;41,76;42,29;27,7</string>
				<string>-13,-85;-20,-73;-10,-34;-9,-61</string>
				<string>-30,-50;-55,-46;-37,-26;-14,-35</string>
				<string>-27,-23;-51,-19;-72,0;-39,11</string>
				<string>13,-85;20,-73;10,-34;9,-61</string>
				<string>30,-50;55,-46;37,-26;14,-35</string>
				<string>27,-23;51,-19;72,0;39,11</string>
			</array>
			<array>
				<string>0,-27;-6,-15;0,29;6,-15</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kBossOceanusMainBody.png</string>
			<string>kBossOceanusHarpoon.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>0,-41</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>-15,81;4,81;-30,49;29,49;-51,19;50,19</string>
			<string>0,0</string>
		</array>
	</dict>
</dict>
</plist>
