<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kBossAstraeus</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kBossAstraeus</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,-90;-29,-25;-22,16;-12,33;13,33;22,16;28,-25</string>
				<string>-38,30;-55,55;-34,95;33,95;54,55;38,30</string>
				<string>-68,14;-72,-1;-71,14;-68,17</string>
				<string>68,14;72,-1;71,14;68,17</string>
				<string>-41,34;-69,16;-67,15;-39,29</string>
				<string>41,34;69,16;67,15;39,29</string>
			</array>
			<array>
				<string>4,-31;15,-4;15,17;0,44;-15,17;-15,-43</string>
			</array>
			<array>
				<string>-4,-31;-15,-4;-15,17;0,44;15,17;15,-43</string>
			</array>
			<array>
				<string>-31,-21;-33,-6;-14,17;5,28;35,28;21,3</string>
			</array>
			<array>
				<string>31,-21;33,-6;14,17;-5,28;-35,28;-21,3</string>
			</array>
			<array>
				<string>-33,6;-4,16;13,16;42,2;15,-14;-44,-14</string>
			</array>
			<array>
				<string>33,6;4,16;-13,16;-42,2;-15,-14;44,-14</string>
			</array>
			<array>
				<string>-42,15;-23,28;6,21;25,9;40,-15;8,-14</string>
			</array>
			<array>
				<string>42,15;23,28;-6,21;-25,9;-40,-15;-8,-14</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
			<array>
				<integer>0</integer>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kBossAstraeusMainBody.png</string>
			<string>kBossAstraeusCannonFrontRight.png</string>
			<string>kBossAstraeusCannonFrontLeft.png</string>
			<string>kBossAstraeusCannon30Left.png</string>
			<string>kBossAstraeusCannon30Right.png</string>
			<string>kBossAstraeusCannon90Left.png</string>
			<string>kBossAstraeusCannon90Right.png</string>
			<string>kBossAstraeusCannon120Left.png</string>
			<string>kBossAstraeusCannon120Right.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>40,-112</string>
			<string>-40,-112</string>
			<string>-77,-74</string>
			<string>77,-74</string>
			<string>-107,-13</string>
			<string>107,-13</string>
			<string>-109,44</string>
			<string>109,44</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>-71,8;69,8;0,-23;-4,-24</string>
			<string>-3,-26</string>
			<string>5,-26</string>
			<string>0,0</string>
			<string>0,0</string>
			<string>0,0</string>
			<string>0,0</string>
			<string>0,0</string>
			<string>0,0</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>600</string>
			<string>150</string>
			<string>150</string>
			<string>100</string>
			<string>100</string>
			<string>100</string>
			<string>100</string>
			<string>100</string>
			<string>100</string>
		</array>
	</dict>
	<key>kBossAtlas</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kBossAtlas</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,-84;18,-67;31,-45;12,-5;0,16;-32,-45;-18,-67</string>
				<string>33,-40;74,-40;104,-19;117,5;78,24;14,-8</string>
				<string>-33,-40;-74,-40;-104,-19;-117,5;-78,24;-14,-8</string>
				<string>27,-54;38,-48;39,-39</string>
				<string>-27,-54;-38,-48;-39,-39</string>
			</array>
			<array>
				<string>13,-11;3,-13;-11,-10;-14,4;-12,14</string>
			</array>
			<array>
				<string>-13,-11;-3,-13;11,-10;14,4;12,14</string>
			</array>
			<array>
				<string>0,-29;9,-25;12,-18;11,8;5,27;-5,30;-10,19;-11,-12;-9,-25</string>
			</array>
			<array>
				<string>0,-29;-9,-25;-12,-18;-11,8;-5,27;5,30;10,19;11,-12;9,-25</string>
			</array>
			<array>
				<string>3,-13;9,-5;7,9;0,15;-7,9;-9,-5;-2,-13</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
			<array>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<array>
				<integer>0</integer>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kBossAtlasMainBody.png</string>
			<string>kBossAtlasFrontTurretLeft.png</string>
			<string>kBossAtlasFrontTurretRight.png</string>
			<string>kBossAtlasCannonRight.png</string>
			<string>kBossAtlasCannonLeft.png</string>
			<string>kBossAtlasFrontTurretCenter.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>-25,-88</string>
			<string>25,-88</string>
			<string>136,-32</string>
			<string>-136,-32</string>
			<string>0,-117</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>-55,-35;-37,-49;-99,-19;55,-35;37,-49;99,-19</string>
			<string>-9,-9</string>
			<string>9,-9</string>
			<string>0,-24</string>
			<string>0,-24</string>
			<string>0,-11</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>600</string>
			<string>50</string>
			<string>50</string>
			<string>100</string>
			<string>100</string>
			<string>50</string>
		</array>
	</dict>
	<key>kBossKronos</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kBossKronos</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,36;22,33;36,21;38,-4;31,-26;0,-41;-31,-27;-38,-4;-36,21;-23,33</string>
			</array>
			<array>
				<string>5,-22;-4,-22;-14,25;16,25</string>
			</array>
			<array>
				<string>-6,-31;-14,-31;-1,32;15,17;4,-18</string>
			</array>
			<array>
				<string>-2,-11;-16,-9;-11,1;12,13;16,3</string>
			</array>
			<array>
				<string>0,-19;-20,1;-21,18;15,13;23,5;23,-4;15,-12</string>
			</array>
			<array>
				<string>6,-12;-5,-2;-12,11;-6,14;12,-3</string>
			</array>
			<array>
				<string>7,-9;-3,-10;-7,8;-1,10</string>
			</array>
			<array>
				<string>6,-31;14,-31;1,32;-15,17;-4,-18</string>
			</array>
			<array>
				<string>2,-11;16,-9;11,1;-12,13;-16,3</string>
			</array>
			<array>
				<string>0,-19;20,1;21,18;-15,13;-23,5;-23,-4;-15,-12</string>
			</array>
			<array>
				<string>-6,-12;5,-2;12,11;6,14;-12,-3</string>
			</array>
			<array>
				<string>-7,-9;3,-10;7,8;1,10</string>
			</array>
			<array>
				<string>8,21;-9,21;-6,-23;5,-23</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<integer>1</integer>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
				<string>11</string>
				<string>12</string>
			</array>
			<array>
				<string>0</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kBossKronosMainBody.png</string>
			<string>kBossKronosMainBodyHead.png</string>
			<string>kBossKronosMainBodyBottomLeftTurret.png</string>
			<string>kBossKronosMainBodyMiddleLeftTurret.png</string>
			<string>kBossKronosMainBodyMiddleLeftWing.png</string>
			<string>kBossKronosMainBodyTopLeftCannon.png</string>
			<string>kBossKronosMainBodyTopLeftTurret.png</string>
			<string>kBossKronosMainBodyBottomRightTurret.png</string>
			<string>kBossKronosMainBodyMiddleRightTurret.png</string>
			<string>kBossKronosMainBodyMiddleRightWing.png</string>
			<string>kBossKronosMainBodyTopRightCannon.png</string>
			<string>kBossKronosMainBodyTopRightTurret.png</string>
			<string>kBossKronosMainBodyTail.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>0,-65</string>
			<string>-32,-57</string>
			<string>-50,-27</string>
			<string>-62,-4</string>
			<string>-35,36</string>
			<string>-18,43</string>
			<string>32,-57</string>
			<string>50,-27</string>
			<string>63,-4</string>
			<string>36,36</string>
			<string>19,43</string>
			<string>0,58</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>0,0</string>
			<string>-4,-20;5,-20</string>
			<string>-14,-31</string>
			<string>-9,-11</string>
			<string>0,-28</string>
			<string>-9,11</string>
			<string>-1,9</string>
			<string>14,-31</string>
			<string>9,-11</string>
			<string>0,-28</string>
			<string>-9,11</string>
			<string>1,9</string>
			<string>0,8</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>1000</string>
			<string>100</string>
			<string>80</string>
			<string>80</string>
			<string>80</string>
			<string>80</string>
			<string>50</string>
			<string>80</string>
			<string>80</string>
			<string>80</string>
			<string>80</string>
			<string>50</string>
			<string>50</string>
		</array>
	</dict>
	<key>kBossHelios</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kBossHelios</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,-72;13,-42;18,-14;14,-5;-15,-5;-20,-14;-15,-42</string>
				<string>-1,-6;-29,3;-43,24;-41,45;-20,73;18,73;39,45;41,24;26,3;13,-6</string>
			</array>
			<array>
				<string>-1,-3;-24,-6;-29,-21;28,-21;22,-6</string>
				<string>0,25;14,21;10,-1;-11,-1;-15,21</string>
			</array>
			<array>
				<string>14,-43;7,-18;8,-9;12,-3;21,-14;19,-43</string>
				<string>21,-36;21,38;26,44;26,-30</string>
				<string>-4,-10;-8,3;4,13</string>
				<string>12,-1;-26,41;12,29</string>
				<string>-27,-10;-18,17;-8,4</string>
				<string>-18,16;-25,25;-25,39;-9,30</string>
			</array>
			<array>
				<string>-14,-43;-7,-18;-8,-9;-12,-3;-21,-14;-19,-43</string>
				<string>-21,-36;-21,38;-26,44;-26,-30</string>
				<string>4,-10;8,3;-4,13</string>
				<string>-12,-1;26,41;-12,29</string>
				<string>27,-10;18,17;8,4</string>
				<string>18,16;25,25;25,39;9,30</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>2</string>
				<string>3</string>
			</array>
			<array>
				<integer>0</integer>
				<string>1</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kBossHeliosMainBody.png</string>
			<string>kBossHeliosTail.png</string>
			<string>kBossHeliosWingLeft.png</string>
			<string>kBossHeliosWingRight.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>0,110</string>
			<string>-75,50</string>
			<string>75,50</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>30,9;-32,9;6,-55;-10,-55</string>
			<string>15,22;0,24;-15,22</string>
			<string>6,-43;-26,-9</string>
			<string>-6,-43;26,-9</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>600</string>
			<string>100</string>
			<string>200</string>
			<string>200</string>
		</array>
	</dict>
	<key>kBossOceanus</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kBossOceanus</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>-27,6;-45,43;-41,77;0,87;42,77;45,43;28,6</string>
				<string>-13,-83;-19,-72;-17,-45;-14,-34;-8,-31</string>
				<string>-17,-46;-22,-39;-25,-29;-25,-22</string>
				<string>-54,-45;-36,-25;-26,-22;-36,-39</string>
				<string>-26,-22;-57,-11;-71,1;-39,12;-28,6</string>
				<string>13,-83;19,-72;17,-45;14,-34;8,-31</string>
				<string>17,-46;22,-39;25,-29;25,-22</string>
				<string>54,-45;36,-25;26,-22;36,-39</string>
				<string>26,-22;57,-11;71,1;39,12;28,6</string>
			</array>
			<array>
				<string>0,-26;-6,-14;0,28;6,-14</string>
			</array>
			<array>
				<string>0,-8;-6,-4;-5,4;4,9;7,0</string>
			</array>
			<array>
				<string>0,-8;6,-4;5,4;-4,9;-7,0</string>
			</array>
			<array>
				<string>7,-2;-7,4;-7,3;0,-2</string>
			</array>
			<array>
				<string>-7,-2;7,4;7,3;0,-2</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kBossOceanusMainBody.png</string>
			<string>kBossOceanusHarpoon.png</string>
			<string>kBossOceanusTurretLeft.png</string>
			<string>kBossOceanusTurretRight.png</string>
			<string>kBossOceanusBulgeLeft.png</string>
			<string>kBossOceanusBulgeRight.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>0,-46</string>
			<string>-29,-40</string>
			<string>29,-40</string>
			<string>-47,-17</string>
			<string>47,-17</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>-17,-77;17,-77</string>
			<string>0,0</string>
			<string>0,-8</string>
			<string>0,-8</string>
			<string>-2,0</string>
			<string>2,0</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>500</string>
			<string>100</string>
			<string>150</string>
			<string>150</string>
			<string>100</string>
			<string>100</string>
		</array>
	</dict>
	<key>kBossHyperion</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kBossHyperion</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,-81;12,-68;12,-41;10,10;-11,10;-12,-41;-12,-68</string>
				<string>13,14;17,21;16,43;-17,43;-17,21;-13,14</string>
				<string>23,81;24,56;30,56;29,72</string>
				<string>24,35;19,49;23,55;31,55</string>
				<string>-23,81;-24,56;-30,56;-29,72</string>
				<string>-24,35;-19,49;-23,55;-31,55</string>
			</array>
			<array>
				<string>-15,-25;2,-25;30,-7;31,7;-17,25;-32,11;-31,3</string>
			</array>
			<array>
				<string>15,-25;-2,-25;-30,-7;-31,7;17,25;32,11;31,3</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kBossHyperionMainBody.png</string>
			<string>kBossHyperionWingRight.png</string>
			<string>kBossHyperionWingLeft.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>58,-26</string>
			<string>-58,-26</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>0,-80;12,-67;-11,-67;0,-39</string>
			<string>1,23;-15,25</string>
			<string>-1,23;15,25</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>500</string>
			<string>200</string>
			<string>200</string>
		</array>
	</dict>
	<key>kBossThemis</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kBossThemis</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,-77; 12,-40;-13,-40</string>
				<string>46,-50; 23,-33; 28,-27</string>
				<string>-43,-50;-24,-33;-28,-27</string>
				<string>13,-39;22,-33;19,-30 11,-36</string>
				<string>-14,-39;-22,-33;-21,-30;-9,-36</string>
				<string>26,-22;33,-2;43,-9;29,-24</string>
				<string>-26,-22;-33,-2;-43,-9;-29,-24</string>
				<string>33,-1;38,13;34,19;28,10</string>
				<string>-33,-1;-38,13;-34,19;-28,10</string>
				<string>47,29;67,36;55,18;41,16</string>
				<string>-47,29;-67,36;-55,18;-41,16</string>
				<string>27,10;9,23;8,19;25,6</string>
				<string>-27,10;-9,23;-8,19;-25,6</string>
				<string>8,23;8,55;0,76;-8,55;-9,23</string>
				<string>24,66;20,47;14,40;11,57;16,64</string>
				<string>-24,66;-20,47;-14,40;-11,57;-16,64</string>
			</array>
			<array>
				<string>-1,-22;10,9;3,20;-6,20;-11,9</string>
			</array>
			<array>
				<string>-1,-22;10,9;3,20;-6,20;-11,9</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<array>
				<string>0</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kBossThemisMainBody.png</string>
			<string>kBossThemisRightChainEnd.png</string>
			<string>kBossThemisLeftChainEnd.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>37,-69</string>
			<string>-37,-69</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>46,-49;-43,-49;0,-74</string>
			<string>0,0</string>
			<string>0,0</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>500</string>
			<string>100</string>
			<string>100</string>
		</array>
	</dict>
	<key>kMiniBossOneOne</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossOneOne</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,66;8,59;10,40;26,13;15,-29;0,-67;-15,-29;-26,13;-10,40;-8,59</string>
				<string>35,-30;52,-4;57,8;50,9;24,1</string>
				<string>-35,-30;-52,-4;-57,8;-50,9;-24,1</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossOneOneMainBody.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>-7,-60;7,-60;-13,27;13,27</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>400</string>
		</array>
	</dict>
	<key>kMiniBossOneTwo</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossOneTwo</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>16,-65;48,-28;63,8;41,38;1,62;-38,38;-60,8;-45,-28;-12,-65</string>
			</array>
			<array>
				<string>3,-26;11,-14;11,13;3,24;-4,24;-11,12;-10,-13;-4,-25</string>
			</array>
			<array>
				<string>3,-26;11,-14;11,13;3,24;-4,24;-11,12;-10,-13;-4,-25</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossOneTwoMainBody.png</string>
			<string>kMiniBossOneTwoFloater1.png</string>
			<string>kMiniBossOneTwoFloater2.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>-64,-64</string>
			<string>64,-64</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>2,-53;-24,-54;27,-54</string>
			<string>0,21;0,-21</string>
			<string>0,21;0,-21</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>500</string>
			<string>100</string>
			<string>100</string>
		</array>
	</dict>
	<key>kMiniBossOneThree</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossOneThree</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,-63;64,-6;11,64;-11,64;-64,-7</string>
			</array>
			<array>
				<string>0,-7;6,-7;-1,8;-7,-7</string>
			</array>
			<array>
				<string>0,-7;6,-7;-1,8;-7,-7</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossOneThreeMainBody.png</string>
			<string>kMiniBossOneThreeFloat1.png</string>
			<string>kMiniBossOneThreeFloat2.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>-55,-50</string>
			<string>55,-50</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>-6,-48;6,-48;-16,-38;16,-38</string>
			<string>-1,-5</string>
			<string>-1,-5</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>500</string>
			<string>100</string>
			<string>100</string>
		</array>
	</dict>
	<key>kMiniBossTwoTwo</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossTwoTwo</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,-63;11,-33;15,-9;22,26;22,34;-1,65;-23,34;-23,26;-16,-9;-12,-33</string>
				<string>-33,-26;-40,-12;-40,33;-22,55;-25,-9;-29,-15</string>
				<string>-54,16;-56,26;-45,33;-40,33;-40,23</string>
				<string>33,-26;40,-12;40,33;22,55;25,-9;29,-15</string>
				<string>54,16;56,26;45,33;40,33;40,23</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossTwoTwoMainBody.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>-11,-31;11,-31;-31,-7;31,-7;-42,5;42,5</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>400</string>
		</array>
	</dict>
	<key>kMiniBossTwoThree</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossTwoThree</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>2,-60;10,-35;7,20;0,50;-9,20;-11,-35;-2,-60</string>
				<string>37,-65;40,-24;40,36;33,65;12,21;13,-12</string>
				<string>-37,-65;-40,-24;-40,36;-33,65;-12,21;-13,-12</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossTwoThreeMainBody.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>-1,-59;-45,33;44,33;-34,60;34,60;-31,-55;30,-55</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>400</string>
		</array>
	</dict>
	<key>kMiniBossThreeOne</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossThreeOne</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,-15;9,-10;21,19;12,54;-13,54;-23,19;-10,-10</string>
				<string>-45,-54;-50,-23;-50,-13;-51,4;-31,29;-31,-47</string>
				<string>-29,-13;-16,-3;-19,2;-29,2</string>
				<string>45,-54;50,-23;50,-13;51,4;31,29;31,-47</string>
				<string>29,-13;16,-3;19,2;29,2</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossThreeOneMainBody.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>0,-12;-49,-15;49,-15;-39,-48;38,-48</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>400</string>
		</array>
	</dict>
	<key>kMiniBossThreeTwo</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossThreeThree</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,-18;11,-13;18,-1;15,13;7,20;-9,20;-18,13;-21,0;-13,-14</string>
				<string>14,-14;32,-26;44,-25;39,-13;20,-1</string>
				<string>-14,-14;-32,-26;-44,-25;-39,-13;-20,-1</string>
				<string>6,21;5,44;-1,55;-8,44;-9,20</string>
				<string>-1,-54;9,-32;10,-26;-11,-26;-12,-32</string>
				<string>48,29;34,9;28,6;17,24;23,28</string>
				<string>-48,29;-34,9;-28,6;-17,24;-23,28</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossThreeTwoMainBody.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>-45,-26;44,-26;0,50;-45,25;44,25;0,-54</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>400</string>
		</array>
	</dict>
	<key>kMiniBossThreeThree</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossThreeThree</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>4,-55;7,-41;14,-16;23,33;12,56;-12,56;-23,33;-15,-16;-4,-55</string>
				<string>23,1;29,-1;42,40;21,23;19,3</string>
				<string>46,-7;57,1;63,13;62,25;39,28;32,15</string>
				<string>-23,1;-29,-1;-42,40;-21,23;-19,3</string>
				<string>-46,-7;-57,1;-63,13;-62,25;-39,28;-32,15</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossThreeThreeMainBody.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>0,-32;-26,7;26,7;-14,-18;13,-18</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>400</string>
		</array>
	</dict>
	<key>kMiniBossFiveOne</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossFiveOne</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,-24;20,-14;20,15;0,24;-20,15;-20,-14</string>
			</array>
			<array>
				<string>0,-39;43,0;0,39;-42,0</string>
			</array>
			<array>
				<string>0,-66;56,0;0,66;-55,0</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>2</string>
			</array>
			<array>
				<string>1</string>
			</array>
			<array>
				<string>0</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossFiveOneCenter.png</string>
			<string>kMiniBossFiveOneMiddleRing.png</string>
			<string>kMiniBossFiveOneOuterRing.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>0,0</string>
			<string>0,0</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>0,-23;-19,-12;19,-13;-19,13;19,14</string>
			<string>0,-39;0,39;-31,14;32,-14</string>
			<string>-55,0;55,0;-39,-34;39,35</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>200</string>
			<string>100</string>
			<string>50</string>
		</array>
	</dict>
	<key>kMiniBossSixTwo</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossSixTwo</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,-63;18,-19;15,56;9,65;-8,65;-15,56;-18,-19</string>
				<string>44,-42;63,-2;46,28;41,31;32,27</string>
				<string>20,-18;35,-11;31,26;16,6</string>
				<string>-44,-42;-63,-2;-46,28;-41,31;-32,27</string>
				<string>-20,-18;-35,-11;-31,26;-16,6</string>
			</array>
			<array>
				<string>0,-14;13,0;19,14;-20,14;-14,0;-1,-14</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossSixTwoMainBody.png</string>
			<string>kMiniBossSixTwoShield.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>0,-90</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>-12,-42;13,-42;-23,-22;23,-22;-61,-7;61,-7</string>
			<string>0,-8</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>400</string>
			<string>100</string>
		</array>
	</dict>
	<key>kMiniBossFourTwo</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossFourTwo</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,-64;17,-54;32,-36;16,-21;-16,-21;-32,-36;-16,-54</string>
				<string>47,-33;51,-23;50,5;39,42;0,66;-39,41;-50,5;-51,-23;-46,-35</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossFourTwoMainBody.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>0,-62;15,-53;30,-39;-15,-53;-29,-39;41,-29;-40,-29</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>400</string>
		</array>
	</dict>
	<key>kMiniBossFiveTwo</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossFiveTwo</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>-2,-49;-6,-39;-8,-15;-14,30;0,48;14,30;8,-15;6,-39;2,-48</string>
				<string>-37,-39;-47,35;-38,32;-13,9;-7,-7</string>
				<string>37,-39;47,35;38,32;13,9;7,-7</string>
			</array>
			<array>
				<string>-5,6;4,6;4,-5;-5,-5</string>
			</array>
			<array>
				<string>-5,6;4,6;4,-5;-5,-5</string>
			</array>
			<array>
				<string>-5,6;4,6;4,-5;-5,-5</string>
			</array>
			<array>
				<string>-5,6;4,6;4,-5;-5,-5</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossFiveTwoMainBody.png</string>
			<string>kMiniBossFiveTwoBottomLeftFloater.png</string>
			<string>kMiniBossFiveTwoBottomRightFloater.png</string>
			<string>kMiniBossFiveTwoTopLeftFloater.png</string>
			<string>kMiniBossFiveTwoTopRightFloater.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>-50,-50</string>
			<string>50,-50</string>
			<string>-60,50</string>
			<string>60,50</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>0,-44;-29,-25;30,-25</string>
			<string>0,0</string>
			<string>0,0</string>
			<string>0,0</string>
			<string>0,0</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>400</string>
			<string>50</string>
			<string>50</string>
			<string>50</string>
			<string>50</string>
		</array>
	</dict>
	<key>kMiniBossSixOne</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossSixOne</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>-9,-60;-17,-22;-17,21;-9,60;7,60;15,23;15,-22;7,-60</string>
				<string>-60,-38;-60,38;-18,9;-18,-11;-34,-30;-52,-41</string>
				<string>60,-38;60,38;18,9;18,-11;34,-30;52,-41</string>
			</array>
			<array>
				<string>0,-18;-7,0;0,18;6,0</string>
			</array>
			<array>
				<string>0,-18;-7,0;0,18;6,0</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossSixOneMainBody.png</string>
			<string>kMiniBossSixOneFloater1.png</string>
			<string>kMiniBossSixOneFloater2.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>-40,-70</string>
			<string>40,-70</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>-7,-59;5,-59;-7,59;5,59;-56,-39;54,-39;-56,39;54,38</string>
			<string>0,0</string>
			<string>0,0</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>400</string>
			<string>100</string>
			<string>100</string>
		</array>
	</dict>
	<key>kMiniBossSevenOne</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossSevenOne</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>-5,-57;-17,-5;-19,30;-7,58;6,58;18,30;16,-6;4,-57</string>
				<string>-28,8;-53,13;-66,28;-58,53;-27,32</string>
				<string>28,8;53,13;66,28;58,53;27,32</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossSevenOneMainBody.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>0,-10;-16,-5;16,-5;-44,13;-32,8;32,8;43,13</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>400</string>
		</array>
	</dict>
	<key>kMiniBossSevenThree</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossSevenThree</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>-9,-61;-49,-18;-49,-9;0,64;50,-9;50,-18;10,-61</string>
			</array>
			<array>
				<string>0,-16;-14,-12;-16,0;-11,12;0,16;11,12;16,0;11,-12</string>
			</array>
			<array>
				<string>0,-16;-14,-12;-16,0;-11,12;0,16;11,12;16,0;11,-12</string>
			</array>
			<array>
				<string>0,-16;-14,-12;-16,0;-11,12;0,16;11,12;16,0;11,-12</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossSevenThreeMainBody.png</string>
			<string>kMiniBossSevenThreeFloat1.png</string>
			<string>kMiniBossSevenThreeFloat2.png</string>
			<string>kMiniBossSevenThreeFloat3.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>0,-90</string>
			<string>-50,-40</string>
			<string>50,-40</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>0,-64;-8,-61;9,-61;-51,-14;51,-14</string>
			<string>0,0</string>
			<string>0,0</string>
			<string>0,0</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>400</string>
			<string>100</string>
			<string>100</string>
			<string>100</string>
		</array>
	</dict>
	<key>kMiniBossFiveThree</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossFiveThree</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>22,17;22,-17;-22,-17;-22,17</string>
			</array>
			<array>
				<string>16,24;16,-24;-16,-24;-16,24</string>
			</array>
			<array>
				<string>22,22;22,-22;-22,-22;-22,22</string>
			</array>
			<array>
				<string>16,24;16,-24;-16,-24;-16,24</string>
			</array>
			<array>
				<string>16,17;16,-17;-16,-17;-16,17</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossFiveThreeFront.png</string>
			<string>kMiniBossFiveThreeBodyOne.png</string>
			<string>kMiniBossFiveThreeBodyTwo.png</string>
			<string>kMiniBossFiveThreeBodyThree.png</string>
			<string>kMiniBossFiveThreeBack.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,0</string>
			<string>0,60</string>
			<string>0,120</string>
			<string>0,180</string>
			<string>0,240</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>0,0</string>
			<string>0,0</string>
			<string>0,0</string>
			<string>0,0</string>
			<string>0,0</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>400</string>
			<string>100</string>
			<string>100</string>
			<string>100</string>
			<string>100</string>
		</array>
	</dict>
	<key>kMiniBossTwoOne</key>
	<dict>
		<key>kBossAttack</key>
		<integer>10</integer>
		<key>kBossID</key>
		<string>kMiniBossTwoOne</string>
		<key>kBossSpeed</key>
		<integer>10</integer>
		<key>kBossStamina</key>
		<integer>10</integer>
		<key>kBossType</key>
		<string>kBossTypeMiniBoss</string>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,26;13,17;14,-14;0,-24;-15,-13;-14,17</string>
			</array>
			<array>
				<string>0,26;13,17;14,-14;0,-24;-15,-13;-14,17</string>
			</array>
		</array>
		<key>kModularDestructionOrder</key>
		<array>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</array>
		<key>kShipModuleImages</key>
		<array>
			<string>kMiniBossTwoOneMainBody.png</string>
			<string>kMiniBossTwoOneMainBody.png</string>
		</array>
		<key>kShipModulePoints</key>
		<array>
			<string>0,90</string>
			<string>0,-90</string>
		</array>
		<key>kShipTurretPoints</key>
		<array>
			<string>-3,-33;2,-33;13,-17;14,13;3,34;-4,34;-15,13;-14,-17</string>
			<string>-3,-33;2,-33;13,-17;14,13;3,34;-4,34;-15,13;-14,-17</string>
		</array>
		<key>kShipModuleHealths</key>
		<array>
			<string>100</string>
			<string>100</string>
		</array>
	</dict>
</dict>
</plist>
