<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kShipThreeShot_Three</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>0,-14</string>
			<string>-11,-6</string>
			<string>-19,9</string>
			<string>-3,15</string>
			<string>4,15</string>
			<string>20,-9</string>
			<string>12,-6</string>
		</array>
		<key>kRotation</key>
		<false/>
		<key>kRotationSpeed</key>
		<integer>0</integer>
		<key>kShipAttack</key>
		<integer>3</integer>
		<key>kShipCategory</key>
		<string>kShipType_ThreeShotLevelThree</string>
		<key>kShipSpeed</key>
		<integer>2</integer>
		<key>kShipSpriteSheet</key>
		<string>kEnemyThreeShotLevelThree.png</string>
		<key>kShipStamina</key>
		<integer>2</integer>
		<key>kSpriteSheetColumnWidth</key>
		<integer>40</integer>
		<key>kSpriteSheetNumColumns</key>
		<integer>1</integer>
		<key>kSpriteSheetRowHeight</key>
		<integer>30</integer>
		<key>kSpriteSheetRowNumber</key>
		<integer>0</integer>
		<key>kTurretPoints</key>
		<array>
			<string>-28,17</string>
			<string>30,17</string>
			<string>0,38</string>
		</array>
	</dict>
	<key>kShipKamikaze_One</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>-20,-1</string>
			<string>-38,-20</string>
			<string>-20,-38</string>
			<string>-1,-20</string>
		</array>
		<key>kShipAttack</key>
		<string>3</string>
		<key>kShipCategory</key>
		<string>kShipType_Kamikaze</string>
		<key>kShipSpeed</key>
		<string>2</string>
		<key>kShipSpriteSheet</key>
		<string>kEnemyKamikazeLevelOne.png</string>
		<key>kShipStamina</key>
		<string>2</string>
		<key>kSpriteSheetColumnWidth</key>
		<integer>40</integer>
		<key>kSpriteSheetNumColumns</key>
		<integer>1</integer>
		<key>kSpriteSheetRowHeight</key>
		<integer>40</integer>
		<key>kSpriteSheetRowNumber</key>
		<integer>0</integer>
		<key>kTurretPoints</key>
		<array>
			<string>30,50</string>
			<string>50,49</string>
			<string>75,48</string>
			<string>94,49</string>
		</array>
	</dict>
	<key>kShipWaveShot_Four</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>1,-12</string>
			<string>-19,11</string>
			<string>20,11</string>
		</array>
		<key>kRotation</key>
		<false/>
		<key>kRotationSpeed</key>
		<integer>0</integer>
		<key>kShipAttack</key>
		<string>3</string>
		<key>kShipCategory</key>
		<string>kShipType_Kamikaze</string>
		<key>kShipSpeed</key>
		<string>2</string>
		<key>kShipSpriteSheet</key>
		<string>kEnemyWaveShotLevelFour.png</string>
		<key>kShipStamina</key>
		<string>2</string>
		<key>kSpriteSheetColumnWidth</key>
		<integer>40</integer>
		<key>kSpriteSheetNumColumns</key>
		<integer>1</integer>
		<key>kSpriteSheetRowHeight</key>
		<integer>40</integer>
		<key>kSpriteSheetRowNumber</key>
		<integer>0</integer>
		<key>kTurretPoints</key>
		<array>
			<string>30,50</string>
			<string>50,49</string>
			<string>75,48</string>
			<string>94,49</string>
		</array>
	</dict>
	<key>kShipTwoShot_One</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>0,-17</string>
			<string>-10,-3</string>
			<string>-19,14</string>
			<string>-3,19</string>
			<string>3,19</string>
			<string>20,14</string>
			<string>11,-3</string>
		</array>
		<key>kRotation</key>
		<false/>
		<key>kRotationSpeed</key>
		<integer>0</integer>
		<key>kShipAttack</key>
		<string>3</string>
		<key>kShipCategory</key>
		<string>kShipType_TwoShotLevelOne</string>
		<key>kShipSpeed</key>
		<string>2</string>
		<key>kShipSpriteSheet</key>
		<string>kEnemyTwoShotLevelOne.png</string>
		<key>kShipStamina</key>
		<string>2</string>
		<key>kSpriteSheetColumnWidth</key>
		<integer>40</integer>
		<key>kSpriteSheetNumColumns</key>
		<integer>1</integer>
		<key>kSpriteSheetRowHeight</key>
		<integer>39</integer>
		<key>kSpriteSheetRowNumber</key>
		<integer>0</integer>
		<key>kTurretPoints</key>
		<array>
			<string>30,50</string>
			<string>50,49</string>
			<string>75,48</string>
			<string>94,49</string>
		</array>
	</dict>
	<key>kShipTwoShot_Two</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>0,-25</string>
			<string>-14,-8</string>
			<string>-19,0</string>
			<string>-19,24</string>
			<string>-16,27</string>
			<string>17,27</string>
			<string>19,24</string>
			<string>19,0</string>
			<string>15,-8</string>
		</array>
		<key>kRotation</key>
		<false/>
		<key>kRotationSpeed</key>
		<integer>0</integer>
		<key>kShipAttack</key>
		<string>3</string>
		<key>kShipCategory</key>
		<string>kShipType_TwoShotLevelTwo</string>
		<key>kShipSpeed</key>
		<string>2</string>
		<key>kShipSpriteSheet</key>
		<string>kEnemyTwoShotLevelTwo.png</string>
		<key>kShipStamina</key>
		<string>2</string>
		<key>kSpriteSheetColumnWidth</key>
		<integer>40</integer>
		<key>kSpriteSheetNumColumns</key>
		<integer>1</integer>
		<key>kSpriteSheetRowHeight</key>
		<integer>54</integer>
		<key>kSpriteSheetRowNumber</key>
		<integer>0</integer>
		<key>kTurretPoints</key>
		<array>
			<string>30,50</string>
			<string>50,49</string>
			<string>75,48</string>
			<string>94,49</string>
		</array>
	</dict>
	<key>kShipWaveShot_Two</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>-1,-12</string>
			<string>-16,-10</string>
			<string>-19,1</string>
			<string>-16,12</string>
			<string>16,12</string>
			<string>20,1</string>
			<string>17,-10</string>
		</array>
		<key>kRotation</key>
		<false/>
		<key>kRotationSpeed</key>
		<integer>0</integer>
		<key>kShipAttack</key>
		<string>3</string>
		<key>kShipCategory</key>
		<string>kShipType_WaveShotLevelTwo</string>
		<key>kShipSpeed</key>
		<string>2</string>
		<key>kShipSpriteSheet</key>
		<string>kEnemyWaveShotLevelTwo.png</string>
		<key>kShipStamina</key>
		<string>2</string>
		<key>kSpriteSheetColumnWidth</key>
		<integer>40</integer>
		<key>kSpriteSheetNumColumns</key>
		<integer>1</integer>
		<key>kSpriteSheetRowHeight</key>
		<integer>26</integer>
		<key>kSpriteSheetRowNumber</key>
		<integer>0</integer>
		<key>kTurretPoints</key>
		<array>
			<string>30,50</string>
			<string>50,49</string>
			<string>75,48</string>
			<string>94,49</string>
		</array>
	</dict>
	<key>kShipWaveShot_One</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>-1,43</string>
			<string>-26,11</string>
			<string>-46,-27</string>
			<string>-6,-42</string>
			<string>6,-42</string>
			<string>44,-31</string>
			<string>24,11</string>
		</array>
		<key>kRotation</key>
		<false/>
		<key>kRotationSpeed</key>
		<integer>0</integer>
		<key>kShipAttack</key>
		<string>3</string>
		<key>kShipCategory</key>
		<string>kShipType_WaveShotLevelOne</string>
		<key>kShipSpeed</key>
		<string>2</string>
		<key>kShipSpriteSheet</key>
		<string>kEnemyWaveShotLevelOne.png</string>
		<key>kShipStamina</key>
		<string>2</string>
		<key>kSpriteSheetColumnWidth</key>
		<integer>40</integer>
		<key>kSpriteSheetNumColumns</key>
		<integer>1</integer>
		<key>kSpriteSheetRowHeight</key>
		<integer>25</integer>
		<key>kSpriteSheetRowNumber</key>
		<integer>0</integer>
		<key>kTurretPoints</key>
		<array>
			<string>30,50</string>
			<string>50,49</string>
			<string>75,48</string>
			<string>94,49</string>
		</array>
	</dict>
	<key>kShipOneShot_One</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>0,-27</string>
			<string>-2,-27</string>
			<string>-18,8</string>
			<string>-16,22</string>
			<string>-5,29</string>
			<string>7,29</string>
			<string>18,22</string>
			<string>19,8</string>
			<string>3,-27</string>
		</array>
		<key>kRotation</key>
		<false/>
		<key>kRotationSpeed</key>
		<integer>0</integer>
		<key>kShipAttack</key>
		<string>3</string>
		<key>kShipCategory</key>
		<string>kShipType_OneShotLevelOne</string>
		<key>kShipSpeed</key>
		<string>2</string>
		<key>kShipSpriteSheet</key>
		<string>kEnemyOneShotLevelOne.png</string>
		<key>kShipStamina</key>
		<string>2</string>
		<key>kSpriteSheetColumnWidth</key>
		<integer>40</integer>
		<key>kSpriteSheetNumColumns</key>
		<integer>1</integer>
		<key>kSpriteSheetRowHeight</key>
		<integer>59</integer>
		<key>kSpriteSheetRowNumber</key>
		<integer>0</integer>
		<key>kTurretPoints</key>
		<array>
			<string>30,50</string>
			<string>50,49</string>
			<string>75,48</string>
			<string>94,49</string>
		</array>
	</dict>
	<key>kShipKamikaze_Three</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>3,19</string>
			<string>-12,-13</string>
			<string>-18,8</string>
			<string>-18,2</string>
			<string>-12,-13</string>
			<string>-8,-18</string>
			<string>-2,-18</string>
			<string>13,-13</string>
			<string>18,-18</string>
			<string>19,-2</string>
			<string>13,13</string>
			<string>9,19</string>
		</array>
		<key>kRotation</key>
		<false/>
		<key>kRotationSpeed</key>
		<integer>0</integer>
		<key>kShipAttack</key>
		<string>3</string>
		<key>kShipCategory</key>
		<string>kShipType_Kamikaze</string>
		<key>kShipSpeed</key>
		<string>2</string>
		<key>kShipSpriteSheet</key>
		<string>kEnemyKamikazeeLevelThree.png</string>
		<key>kShipStamina</key>
		<string>2</string>
		<key>kSpriteSheetColumnWidth</key>
		<integer>40</integer>
		<key>kSpriteSheetNumColumns</key>
		<integer>1</integer>
		<key>kSpriteSheetRowHeight</key>
		<integer>40</integer>
		<key>kSpriteSheetRowNumber</key>
		<integer>0</integer>
		<key>kTurretPoints</key>
		<array>
			<string>30,50</string>
			<string>50,49</string>
			<string>75,48</string>
			<string>94,49</string>
		</array>
	</dict>
	<key>kShipMissileBombShot_Three</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>0,-11</string>
			<string>-5,-8</string>
			<string>-14,-7</string>
			<string>-20,-6</string>
			<string>-29,10</string>
			<string>-6,12</string>
			<string>7,12</string>
			<string>30,10</string>
			<string>20,-6</string>
			<string>15,-7</string>
			<string>6,-8</string>
		</array>
		<key>kRotation</key>
		<false/>
		<key>kRotationSpeed</key>
		<integer>0</integer>
		<key>kShipAttack</key>
		<string>3</string>
		<key>kShipCategory</key>
		<string>kShipType_MissileBombShotLevelThree</string>
		<key>kShipSpeed</key>
		<string>2</string>
		<key>kShipSpriteSheet</key>
		<string>kEnemyMissileBombLevelThree.png</string>
		<key>kShipStamina</key>
		<string>2</string>
		<key>kSpriteSheetColumnWidth</key>
		<integer>60</integer>
		<key>kSpriteSheetNumColumns</key>
		<integer>1</integer>
		<key>kSpriteSheetRowHeight</key>
		<integer>25</integer>
		<key>kSpriteSheetRowNumber</key>
		<integer>0</integer>
		<key>kTurretPoints</key>
		<array>
			<string>30,50</string>
			<string>50,49</string>
			<string>75,48</string>
			<string>94,49</string>
		</array>
	</dict>
	<key>kShipThreeShot_One</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>-19,15</string>
			<string>-4,16</string>
			<string>20,-9</string>
			<string>14,-15</string>
		</array>
		<key>kRotation</key>
		<false/>
		<key>kRotationSpeed</key>
		<integer>0</integer>
		<key>kShipAttack</key>
		<string>3</string>
		<key>kShipCategory</key>
		<string>kShipType_ThreeShotLevelOne</string>
		<key>kShipSpeed</key>
		<string>2</string>
		<key>kShipSpriteSheet</key>
		<string>kEnemyThreeShotLevelOne.png</string>
		<key>kShipStamina</key>
		<string>2</string>
		<key>kSpriteSheetColumnWidth</key>
		<integer>40</integer>
		<key>kSpriteSheetNumColumns</key>
		<integer>1</integer>
		<key>kSpriteSheetRowHeight</key>
		<integer>33</integer>
		<key>kSpriteSheetRowNumber</key>
		<integer>0</integer>
		<key>kTurretPoints</key>
		<array>
			<string>30,50</string>
			<string>50,49</string>
			<string>75,48</string>
			<string>94,49</string>
		</array>
	</dict>
	<key>kShipKamikaze_BossTwo</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>0,20</string>
			<string>-19,0</string>
			<string>1,-19</string>
			<string>20,1</string>
		</array>
		<key>kRotation</key>
		<false/>
		<key>kRotationSpeed</key>
		<integer>0</integer>
		<key>kShipAttack</key>
		<string>3</string>
		<key>kShipCategory</key>
		<string>kShipType_Kamikaze</string>
		<key>kShipSpeed</key>
		<string>2</string>
		<key>kShipSpriteSheet</key>
		<string>kEnemyShipKamikazekBossNorthAmericaAssistTwo.png</string>
		<key>kShipStamina</key>
		<string>2</string>
		<key>kSpriteSheetColumnWidth</key>
		<integer>40</integer>
		<key>kSpriteSheetNumColumns</key>
		<integer>1</integer>
		<key>kSpriteSheetRowHeight</key>
		<integer>40</integer>
		<key>kSpriteSheetRowNumber</key>
		<integer>0</integer>
		<key>kTurretPoints</key>
		<array>
			<string>30,50</string>
			<string>50,49</string>
			<string>75,48</string>
			<string>94,49</string>
		</array>
	</dict>
	<key>kShipTwoShot_BossOne</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>0,-9</string>
			<string>-29,-5</string>
			<string>-29,7</string>
			<string>-6,11</string>
			<string>5,11</string>
			<string>29,7</string>
			<string>30,-5</string>
		</array>
		<key>kRotation</key>
		<false/>
		<key>kRotationSpeed</key>
		<integer>0</integer>
		<key>kShipAttack</key>
		<string>3</string>
		<key>kShipCategory</key>
		<string>kShipType_TwoShotBossOne</string>
		<key>kShipSpeed</key>
		<string>2</string>
		<key>kShipSpriteSheet</key>
		<string>kEnemyShipTwoShotkBossAfricaAssistOne.png</string>
		<key>kShipStamina</key>
		<string>2</string>
		<key>kSpriteSheetColumnWidth</key>
		<integer>60</integer>
		<key>kSpriteSheetNumColumns</key>
		<integer>1</integer>
		<key>kSpriteSheetRowHeight</key>
		<integer>22</integer>
		<key>kSpriteSheetRowNumber</key>
		<integer>0</integer>
		<key>kTurretPoints</key>
		<array>
			<string>30,50</string>
			<string>50,49</string>
			<string>75,48</string>
			<string>94,49</string>
		</array>
	</dict>
	<key>kShipMissileBombShot_BossTwo</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>0,-20</string>
			<string>-8,-11</string>
			<string>-18,7</string>
			<string>0,19</string>
			<string>19,7</string>
			<string>8,-11</string>
		</array>
		<key>kRotation</key>
		<false/>
		<key>kRotationSpeed</key>
		<integer>0</integer>
		<key>kShipAttack</key>
		<string>3</string>
		<key>kShipCategory</key>
		<string>kShipType_MissileBombShot</string>
		<key>kShipSpeed</key>
		<string>2</string>
		<key>kShipSpriteSheet</key>
		<string>kEnemyShipMissileBombShotkBossEuropeAssist.png</string>
		<key>kShipStamina</key>
		<string>2</string>
		<key>kSpriteSheetColumnWidth</key>
		<integer>40</integer>
		<key>kSpriteSheetNumColumns</key>
		<integer>1</integer>
		<key>kSpriteSheetRowHeight</key>
		<integer>42</integer>
		<key>kSpriteSheetRowNumber</key>
		<integer>0</integer>
		<key>kTurretPoints</key>
		<array>
			<string>30,50</string>
			<string>50,49</string>
			<string>75,48</string>
			<string>94,49</string>
		</array>
	</dict>
</dict>
</plist>
