<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kShipMissileBombShot_Three</key>
	<dict>
		<key>kShipCategory</key>
		<string>kShipType_MissileBombShot</string>
		<key>kShipSpeed</key>
		<string>2</string>
		<key>kShipAttack</key>
		<string>3</string>
		<key>kShipStamina</key>
		<string>2</string>
		<key>kShipSpriteSheet</key>
		<string>enemyspritesheet.png</string>
		<key>kSpriteSheetRowNumber</key>
		<integer>0</integer>
		<key>kSpriteSheetNumColumns</key>
		<integer>5</integer>
		<key>kSpriteSheetColumnWidth</key>
		<integer>128</integer>
		<key>kSpriteSheetRowHeight</key>
		<integer>128</integer>
		<key>kTurretPoints</key>
		<array>
			<string>30,50</string>
			<string>50,49</string>
			<string>75,48</string>
			<string>94,49</string>
		</array>
	</dict>
</dict>
</plist>
