<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kBossShip</key>
	<string></string>
	<key>kLevelDifficulty</key>
	<integer>0</integer>
	<key>kLevelType</key>
	<string>kMiniBossLevel</string>
	<key>kMiniBossShip</key>
	<string>kBossShipAtlas</string>
	<key>kOutroTransition</key>
	<string>kShipFlyOff</string>
	<key>kWaves</key>
	<array>
		<array>
			<string>kShipOneShot_One</string>
			<string>kShipOneShot_One</string>
			<string>kShipOneShot_One</string>
			<string>kShipOneShot_One</string>
			<string>kShipOneShot_One</string>
			<string>kShipMissileBombShot_Three</string>
			<string>kShipMissileBombShot_Three</string>
			<string>kShipMissileBombShot_Three</string>
			<string>kShipTwoShot_One</string>
			<string>kShipTwoShot_One</string>
			<string>kShipTwoShot_One</string>
			<string>kShipTwoShot_One</string>
			<string>kShipTwoShot_One</string>
		</array>
		<array>
			<string>kShipTwoShot_One</string>
			<string>kShipTwoShot_One</string>
			<string>kShipTwoShot_One</string>
			<string>kShipTwoShot_One</string>
			<string>kShipTwoShot_One</string>
			<string>kShipTwoShot_One</string>
			<string>kShipMissileBombShot_Three</string>
			<string>kShipMissileBombShot_Three</string>
			<string>kShipMissileBombShot_Three</string>
			<string>kShipMissileBombShot_Three</string>
			<string>kShipMissileBombShot_Three</string>
			<string>kShipMissileBombShot_Three</string>
		</array>
	</array>
</dict>
</plist>
