<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kBossShip</key>
	<string></string>
	<key>kLevelDifficulty</key>
	<integer>0</integer>
	<key>kLevelType</key>
	<string>kMiniBossLevel</string>
	<key>kMiniBossShip</key>
	<string>kBossShipAtlas</string>
	<key>kOutroTransition</key>
	<string>kShipFlyOff</string>
	<key>kWaves</key>
	<array>
		<string>PLAYER:Hello World I am Player and I am talking in player because I am player;BOSS:Well that&apos;s nice because I am boss and I am talking in voice of boss because i am boss</string>
		<array>
			<array>
				<string>kShipOneShot_One</string>
				<string>60,440</string>
			</array>
			<array>
				<string>kShipOneShot_One</string>
				<string>160,440</string>
			</array>
			<array>
				<string>kShipOneShot_One</string>
				<string>260,440</string>
			</array>
			<array>
				<string>kShipTwoShot_One</string>
				<string>60,370</string>
			</array>
			<array>
				<string>kShipTwoShot_One</string>
				<string>160,370</string>
			</array>
			<array>
				<string>kShipTwoShot_One</string>
				<string>260,370</string>
			</array>
			<array>
				<string>kShipMissileBombShot_Three</string>
				<string>160,310</string>
			</array>
		</array>
		<array>
			<array>
				<string>kShipOneShot_One</string>
				<string>60,440</string>
			</array>
			<array>
				<string>kShipOneShot_One</string>
				<string>160,440</string>
			</array>
			<array>
				<string>kShipOneShot_One</string>
				<string>260,440</string>
			</array>
			<array>
				<string>kShipTwoShot_One</string>
				<string>60,370</string>
			</array>
			<array>
				<string>kShipTwoShot_One</string>
				<string>160,370</string>
			</array>
			<array>
				<string>kShipTwoShot_One</string>
				<string>260,370</string>
			</array>
			<array>
				<string>kShipMissileBombShot_Three</string>
				<string>160,310</string>
			</array>
		</array>
	</array>
</dict>
</plist>
