<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kBossDefaultPoint</key>
	<string>160,360</string>
	<key>kBossShip</key>
	<string>kMiniBossSevenThree</string>
	<key>kLevelDifficulty</key>
	<integer>0</integer>
	<key>kLevelType</key>
	<string>kMiniBossLevel</string>
	<key>kOutroTransition</key>
	<string>kShipFlyoff</string>
	<key>kWaves</key>
	<array>
		<string>PLAYER:Hello I&apos;m player and this is player cuz i&apos;m player. My name is Xander and I traverse the solar system defeating evil Xenos in hopes of idk killing em or something.;BOSS:Hell I&apos;m boss and this is boss because i&apos;m boss</string>
		<array>
			<array>
				<string>kShipOneShot_One</string>
				<string>60,440</string>
			</array>
			<array>
				<string>kShipOneShot_One</string>
				<string>160,440</string>
			</array>
			<array>
				<string>kShipOneShot_One</string>
				<string>260,440</string>
			</array>
			<array>
				<string>kShipTwoShot_One</string>
				<string>60,370</string>
			</array>
			<array>
				<string>kShipTwoShot_One</string>
				<string>160,370</string>
			</array>
			<array>
				<string>kShipTwoShot_One</string>
				<string>260,370</string>
			</array>
			<array>
				<string>kShipKamikaze_Three</string>
				<string>160,310</string>
			</array>
		</array>
		<array>
			<array>
				<string>kShipOneShot_One</string>
				<string>60,440</string>
			</array>
			<array>
				<string>kShipOneShot_One</string>
				<string>160,440</string>
			</array>
			<array>
				<string>kShipOneShot_One</string>
				<string>260,440</string>
			</array>
			<array>
				<string>kShipTwoShot_One</string>
				<string>60,370</string>
			</array>
			<array>
				<string>kShipTwoShot_One</string>
				<string>160,370</string>
			</array>
			<array>
				<string>kShipTwoShot_One</string>
				<string>260,370</string>
			</array>
			<array>
				<string>kShipMissileBombShot_Three</string>
				<string>160,310</string>
			</array>
		</array>
	</array>
</dict>
</plist>
