<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kPlayerShip_Dev</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>0,28</string>
			<string>39,-4</string>
			<string>0,-24</string>
			<string>-38,-4</string>
		</array>
		<key>kMainImage</key>
		<string>devship.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_Dev</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XP-750</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,28</string>
				<string>5,-6</string>
				<string>5,-18</string>
				<string>0,-22</string>
				<string>-1,-22</string>
				<string>-6,-18</string>
				<string>-6,-6</string>
				<string>-1,28</string>
			</array>
			<array>
				<string>6,-6</string>
				<string>25,-22</string>
				<string>26,-26</string>
				<string>-27,-26</string>
				<string>-26,-22</string>
				<string>-7,-6</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XP-750.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XP750</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XP-751</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,22</string>
				<string>21,-7</string>
				<string>24,-24</string>
				<string>-25,-24</string>
				<string>-22,-7</string>
				<string>-1,22</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XP-751.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XP751</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XPA-368</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,26</string>
				<string>29,-12</string>
				<string>15,-25</string>
				<string>-11,-25</string>
				<string>-30,-12</string>
				<string>-1,26</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XPA-368.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XPA368</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XPA-600</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,27</string>
				<string>25,-26</string>
				<string>-26,-26</string>
				<string>-1,27</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XPA-600.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XPA600</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XPA-617</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,28</string>
				<string>27,-1</string>
				<string>7,-27</string>
				<string>-8,-27</string>
				<string>-28,-1</string>
				<string>-1,28</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XPA-617.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XPA617</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XPA-652</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>1,29</string>
				<string>13,5</string>
				<string>9,-6</string>
				<string>-8,-6</string>
				<string>-12,5</string>
				<string>0,29</string>
			</array>
			<array>
				<string>28,-16</string>
				<string>28,-23</string>
				<string>18,-31</string>
				<string>-17,-31</string>
				<string>-27,-23</string>
				<string>-26,-16</string>
				<string>-15,-14</string>
				<string>16,-14</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XPA-652.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XPA652</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XPA-679</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,26</string>
				<string>6,20</string>
				<string>13,6</string>
				<string>4,-5</string>
				<string>-5,-5</string>
				<string>-14,6</string>
				<string>-8,21</string>
			</array>
			<array>
				<string>19,2</string>
				<string>30,-1</string>
				<string>17,-26</string>
				<string>-18,-26</string>
				<string>-31,-1</string>
				<string>-20,2</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XPA-679.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XPA679</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XPS-400</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,23</string>
				<string>25,-24</string>
				<string>-26,24</string>
				<string>-1,23</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XPS-400.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XPS400</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XPS-424</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,21</string>
				<string>24,-21</string>
				<string>-24,-21</string>
				<string>-11,21</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XPS-424.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XPS424</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XPS-447</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,24</string>
				<string>5,1</string>
				<string>3,-21</string>
				<string>-1,-24</string>
				<string>-4,-21</string>
				<string>-6,1</string>
				<string>-1,24</string>
			</array>
			<array>
				<string>26,-21</string>
				<string>-27,-21</string>
				<string>-17,-3</string>
				<string>16,-3</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XPS-447.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XPS447</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XPS-463</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,25</string>
				<string>9,1</string>
				<string>9,-20</string>
				<string>7,-22</string>
				<string>-8,-22</string>
				<string>-9,-20</string>
				<string>-10,1</string>
				<string>-1,25</string>
			</array>
			<array>
				<string>23,-14</string>
				<string>19,-27</string>
				<string>-20,-27</string>
				<string>-24,-14</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XPS-463.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XPS463</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XPS-485</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,30</string>
				<string>14,-1</string>
				<string>21,-31</string>
				<string>-22,-31</string>
				<string>-15,-1</string>
				<string>-1,30</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XPS-485.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XPS485</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XPD-900</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,21</string>
				<string>16,16</string>
				<string>24,-14</string>
				<string>5,-21</string>
				<string>-6,-21</string>
				<string>-24,-14</string>
				<string>-1,21</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XPD-900.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XPD900</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XPD-909</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,21</string>
				<string>8,11</string>
				<string>19,-19</string>
				<string>10,-21</string>
				<string>-11,-21</string>
				<string>-20,-19</string>
				<string>-9,11</string>
				<string>-1,21</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XPD-909.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XPD909</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XPD-924</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>1,23</string>
				<string>7,9</string>
				<string>7,-17</string>
				<string>4,-23</string>
				<string>-5,-23</string>
				<string>-8,-27</string>
				<string>-8,9</string>
				<string>-2,23</string>
				<string>23,8</string>
			</array>
			<array>
				<string>29,-3</string>
				<string>23,-12</string>
				<string>-23,-12</string>
				<string>-30,-3</string>
				<string>-23,8</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XPD-924.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XPD924</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XPD-945</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>4,22</string>
				<string>28,-10</string>
				<string>11,-23</string>
				<string>-12,-23</string>
				<string>-29,-10</string>
				<string>-5,21</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XPD-945.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XPD945</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
	<key>kPlayerShip_XPD-968</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<array>
				<string>0,23</string>
				<string>28,-4</string>
				<string>20,-26</string>
				<string>-21,-26</string>
				<string>-29,-4</string>
				<string>-1,23</string>
			</array>
		</array>
		<key>kMainImage</key>
		<string>XPD-968.png</string>
		<key>kPlayerWeaponType</key>
		<string>kWeapon_SingleShot</string>
		<key>kShipAttack</key>
		<integer>8</integer>
		<key>kShipCategory</key>
		<string>kShipCategory_Attack</string>
		<key>kShipID</key>
		<string>kPlayerShip_XPD968</string>
		<key>kShipSpeed</key>
		<integer>10</integer>
		<key>kShipStamina</key>
		<integer>3</integer>
		<key>kThrusterPoints</key>
		<array>
			<string>63,92</string>
		</array>
		<key>kTurretPoints</key>
		<array>
			<string>0,9</string>
		</array>
	</dict>
</dict>
</plist>
