<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kEnemyProjectile_BulletLevelEight_Quintuple</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_BulletLevelFive_Triple</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_BulletLevelFour_Triple</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_BulletLevelNine_Quintuple</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_BulletLevelOne_Single</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<integer>1</integer>
	</dict>
	<key>kEnemyProjectile_BulletLevelSeven_Quadruple</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_BulletLevelSix_Quadruple</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_BulletLevelTen_Septuple</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_BulletLevelThree_Double</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_BulletLevelTwo_Double</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_MissileLevelEight_Quintuple</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kEnemyProjectile_MissileLevelFive_Triple</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kEnemyProjectile_MissileLevelFour_Triple</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kEnemyProjectile_MissileLevelNine_Quintuple</key>
	<dict>
		<key>0.8</key>
		<real>1.3</real>
		<key>kRate</key>
		<integer>1</integer>
	</dict>
	<key>kEnemyProjectile_MissileLevelOne_Single</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kEnemyProjectile_MissileLevelSeven_Quadruple</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kEnemyProjectile_MissileLevelSix_Quadruple</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kEnemyProjectile_MissileLevelTen_Sextuple</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kEnemyProjectile_MissileLevelThree_Double</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kEnemyProjectile_MissileLevelTwo_Double</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kEnemyProjectile_WaveLevelEight_DoubleBig</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_WaveLevelFive_SingleBig</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_WaveLevelFour_SingleBig</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_WaveLevelNine_DoubleBig</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_WaveLevelOne_SingleSmall</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<integer>1</integer>
	</dict>
	<key>kEnemyProjectile_WaveLevelSeven_DoubleMedium</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_WaveLevelSix_DoubleMedium</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_WaveLevelTen_TripleBig</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_WaveLevelThree_DoubleSmall</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kEnemyProjectile_WaveLevelTwo_DoubleSmall</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kPlayerProjectile_BulletLevelEight_Quintuple</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kPlayerProjectile_BulletLevelFive_Triple</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kPlayerProjectile_BulletLevelFour_Triple</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kPlayerProjectile_BulletLevelNine_Quintuple</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kPlayerProjectile_BulletLevelOne_Single</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kPlayerProjectile_BulletLevelSeven_Quadruple</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kPlayerProjectile_BulletLevelSix_Quadruple</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kPlayerProjectile_BulletLevelTen_Septuple</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kPlayerProjectile_BulletLevelThree_Double</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kPlayerProjectile_BulletLevelTwo_Double</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kPlayerProjectile_MissileLevelEight_Quintuple</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kPlayerProjectile_MissileLevelFive_Triple</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kPlayerProjectile_MissileLevelFour_Triple</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kPlayerProjectile_MissileLevelNine_Quintuple</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kPlayerProjectile_MissileLevelOne_Single</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kPlayerProjectile_MissileLevelSeven_Quadruple</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kPlayerProjectile_MissileLevelSix_Quadruple</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kPlayerProjectile_MissileLevelTen_Sextuple</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kPlayerProjectile_MissileLevelThree_Double</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kPlayerProjectile_MissileLevelTwo_Double</key>
	<dict>
		<key>kRate</key>
		<integer>1</integer>
		<key>kSpeed</key>
		<real>0.8</real>
	</dict>
	<key>kPlayerProjectile_WaveLevelEight_DoubleBig</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<integer>1</integer>
	</dict>
	<key>kPlayerProjectile_WaveLevelFive_SingleBig</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<integer>1</integer>
	</dict>
	<key>kPlayerProjectile_WaveLevelFour_SingleBig</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<integer>1</integer>
	</dict>
	<key>kPlayerProjectile_WaveLevelNine_DoubleBig</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<integer>1</integer>
	</dict>
	<key>kPlayerProjectile_WaveLevelOne_SingleSmall</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<integer>1</integer>
	</dict>
	<key>kPlayerProjectile_WaveLevelSeven_DoubleMedium</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<integer>1</integer>
	</dict>
	<key>kPlayerProjectile_WaveLevelSix_DoubleMedium</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<integer>1</integer>
	</dict>
	<key>kPlayerProjectile_WaveLevelTen_TripleBig</key>
	<dict>
		<key>kRate</key>
		<integer>4</integer>
		<key>kSpeed</key>
		<real>1.3</real>
	</dict>
	<key>kPlayerProjectile_WaveLevelThree_DoubleSmall</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<integer>1</integer>
	</dict>
	<key>kPlayerProjectile_WaveLevelTwo_DoubleSmall</key>
	<dict>
		<key>kRate</key>
		<integer>3</integer>
		<key>kSpeed</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
