<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kEnemyProjectile_Bullet</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>4,0</string>
			<string>0,4</string>
			<string>-4,0</string>
			<string>0,-4</string>
		</array>
		<key>kProjectileImage</key>
		<string>texture.png</string>
		<key>kProjectileSpeed</key>
		<real>1.5</real>
	</dict>
	<key>kEnemyProjectile_Missile</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>6,0</string>
			<string>0,6</string>
			<string>-6,0</string>
			<string>0,-6</string>
		</array>
		<key>kProjectileImage</key>
		<string>texture.png</string>
		<key>kProjectileSpeed</key>
		<integer>15</integer>
	</dict>
	<key>kEnemyProjectile_Wave</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>6,0</string>
			<string>0,6</string>
			<string>-6,0</string>
			<string>0,-6</string>
		</array>
		<key>kProjectileImage</key>
		<string>texture.png</string>
		<key>kProjectileSpeed</key>
		<integer>1</integer>
	</dict>
	<key>kPlayerProjectile_Bullet</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>4,0</string>
			<string>0,4</string>
			<string>-4,0</string>
			<string>0,-4</string>
		</array>
		<key>kProjectileImage</key>
		<string>texture.png</string>
		<key>kProjectileSpeed</key>
		<real>1.5</real>
	</dict>
	<key>kPlayerProjectile_Missile</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>6,0</string>
			<string>0,6</string>
			<string>-6,0</string>
			<string>0,-6</string>
		</array>
		<key>kProjectileImage</key>
		<string>texture.png</string>
		<key>kProjectileSpeed</key>
		<integer>15</integer>
	</dict>
	<key>kPlayerProjectile_Wave</key>
	<dict>
		<key>kCollisionBoundingPoints</key>
		<array>
			<string>6,0</string>
			<string>0,6</string>
			<string>-6,0</string>
			<string>0,-6</string>
		</array>
		<key>kProjectileImage</key>
		<string>texture.png</string>
		<key>kProjectileSpeed</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
