<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kBossShip</key>
	<string></string>
	<key>kLevelDifficulty</key>
	<integer>0</integer>
	<key>kLevelType</key>
	<string>kLevelType_Cutscene</string>
	<key>kMiniBossShip</key>
	<string></string>
	<key>kOutroTransition</key>
	<string>kShipFlyOff</string>
	<key>kWaves</key>
	<array>
		<string>PLAYER:Woah, what was that?</string>
		<string>PLAYER:General A, do you copy I&apos;m under enemy fire, enemy origin is unknown!</string>
		<string>GENERAL:I copy son, it seems large swarms of UFOs are on your tail. Earth is too ravaged to help you son. It seems you&apos;re on your own. Your ship is well quipped. Do your best to fight them off for Earth! Over and out.</string>
		<string>PLAYER:Um...roger sir. I&apos;ll do my best...</string>
		<array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneOne</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneTwo</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_Onethree</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneFour</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneFive</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneSix</string>
			</array>
		</array>
		<array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneOne</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneTwo</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_Onethree</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneFour</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneFive</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneSix</string>
			</array>
		</array>
		<array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneOne</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneTwo</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_Onethree</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneFour</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneFive</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneSix</string>
			</array>
		</array>
		<array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneOne</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneTwo</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_Onethree</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneFour</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneFive</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneSix</string>
			</array>
		</array>
		<array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneOne</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneTwo</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_Onethree</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneFour</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneFive</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneSix</string>
			</array>
		</array>
		<array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneOne</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneTwo</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_Onethree</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneFour</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneFive</string>
			</array>
			<array>
				<string>x,x</string>
				<string>kEnemy_OneSix</string>
			</array>
		</array>
	</array>
</dict>
</plist>
