<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kBossShip</key>
	<string></string>
	<key>kLevelDifficulty</key>
	<string>// difficulty of the current level (this should be for intermediary levels)</string>
	<key>kLevelType</key>
	<string>// i.e. boss level, miniboss level, or intermediary level</string>
	<key>kMiniBossShip</key>
	<string></string>
	<key>kOutroTransition</key>
	<string>// Nuke, wormhole, or fly-off</string>
	<key>kWaves</key>
	<array>
		<array/>
	</array>
</dict>
</plist>
